<% if @candidate.errors.any? %>
    <ul>
        <% @candidate.errors.full_messages.each do |message| %>
            <li><%=message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for(@candidate) do |f| %>
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name %> <br />

  <%= f.label :email, "電子郵件" %>
  <%= f.text_field :email %> <br />

  <%= f.label :gender, "性別" %>
  <%= f.text_field :gender %> <br />

  <%= f.label :age, "年齡" %>
  <%= f.text_field :age %> <br />

  <%= f.label :party, "政黨" %>
  <%= f.text_field :party %> <br />

  <%= f.label :politics, "政見" %>
  <%= f.text_area :politics %> <br />

  <%= f.submit %>
<% end %>

<br />
<%= link_to '回候選人列表', candidates_path %>