<h1>候選人資訊</h1>

<h1><%= @candidate.name %></h1>
<h3>性別：<%= show_gender(@candidate) %></h3>
<h3>年齡：<%= @candidate.age %></h3>
<h3>政黨：<%= @candidate.party %></h3>
<h3>政見：<%= @candidate.politics %></h3>
<h3>得票數：<%= @candidate.votes %></h3>

<%= link_to "回上頁", :back %>

