<!DOCTYPE html>
<html>

<head>
    <title>Ruby練習_候選人</title>
    <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                <!-載入 bootstrap CDN --->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


                <style>
        div
        {
            font-family: 微軟正黑體;
        }
    </style>

</head>

<body>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-success">
                    <!-套 BS 的 Success 訊息 Style，div=alert alert-success --->
                    <strong><%= flash[:notice] %></strong>
                </div>
                <!-套 BS Style，div=container --->
                <div class="container">
                    <!-讓出先處理執行另一網頁 --->
                    <%= yield %>
                </div>
                <br></br>
            </div>
        </div>
        <!-套 BS Style，panel panel-default --->
        <div class="panel panel-default">
            <!-套 BS Style，panel panel-footer --->
            <div class="panel-footer">
                著作權 ©Ontel 公司。版權所有。
                Ontel Corporation, 2XX200 Mission College Blvd., Santa Clara, CA 951052-8119, USB.
            </div>
        </div>
    </div>
</body>

</html>